/* normalize css starts here */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* normalize css ends here */

/* Reset some default styles */
body {
    background-color: #333;
    backdrop-filter: blur(10px);
}

p {
    margin: 0;
    padding: 0;
}

.app {
    width: 600px;
    background-color: #333;
    margin: auto;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: "Microsoft YaHei", Arial, sans-serif;
    /* 使用微软雅黑字体 */
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: rgb(255, 255, 255);
}

#blacklist {
    margin-bottom: 20px;
    text-align: left;
    max-height: 200px;
    overflow-y: auto;
    color: rgb(180, 180, 180);
}

#blacklist div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#blacklist span {
    flex: 1;
    font-size: 14px;
    font-weight: bold;
    color: rgb(210, 210, 210);
}

#blacklist input[type="checkbox"] {
    margin-left: 10px;
}

#keywordInput {
    width: 200px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
}

button {
    background-color: rgba(0, 123, 255, 0);
    border: none;
    margin-left: 10px;
    margin-right: 10px;
}

#addBtn {
    width: 100px;
    height: 25px;
    margin-left: 10px;
    font-size: 14px;
    color: #fff;
    background-color: #8091a3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.divider {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ddd;
}

.title {
    font-size: 18px;
    color: #333;
}

/* Emoji styling */
.title:before,
.title:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

::-webkit-scrollbar {
    width: 6px;
    /* 设置滚动条宽度 */
    border-radius: 3px;
    /* 设置滚动条圆角 */
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    /* 设置滚动条滑块颜色 */
    border-radius: 3px;
    /* 设置滚动条滑块圆角 */
}