/* normalize css starts here */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* normalize css ends here */

@import "~bulma/css/bulma.css";

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f585;
}

.section {
    padding: 0;
    width: 100%;
}

.container {
    text-align: center;
    padding: 1rem;
    background-color: #ffffff86;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 40rem;
}


.separator {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-bottom: 0.1rem;
    margin-top: 0.1rem;
}

/*animation below*/

.marquee {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.marquee__inner {
    display: flex;
    white-space: nowrap;
    animation: scrolling 10s linear infinite;
}

.marquee__content {
    display: inline-flex;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-112%);
    }
}

/*self-deleting*/
@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.cursor {
    display: inline-block;
    vertical-align: middle;
    width: 2px;
    height: 1em;
    background-color: black;
    animation: blink 1s infinite;
    visibility: visible;
}